<?xml version="1.0" encoding="UTF-8" ?>
<!--①声明context的命名空间-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
>

    <bean id="dog" class="com.baimahu.SpringbootBasic.bean.Dog">
        <property name="name" value="Spike"/>
        <property name="age" value="11"/>
    </bean>

    <bean id="dog-dudu" class="com.baimahu.SpringbootBasic.bean.Dog">
        <constructor-arg name="age" value="1"/>
    </bean>

    <bean id="calculator" class="com.baimahu.SpringbootBasic.bean.CalculatorImplAop"/>

</beans>
